<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./js/lib/vue.js"></script>
  <script src="./js/lib/axios.js"></script>
  <script src="./js/lib/elementUI.js"></script>
  <script src="./js/rem_resize.js"></script>
  <link rel="stylesheet" href="./css/lib/elementUI.css">
  <link rel="stylesheet" href="./css/chat.css">
  <link rel="stylesheet" href="./css/public.css">
</head>
<body>
<div id="vm">
  <div v-if="!logined">
    <h3>注册</h3>
    <el-form>
      <el-form-item size="normal">
        <el-input v-model="registParam.account" placeholder="账号"></el-input>
      </el-form-item>

      <el-form-item size="normal">
        <el-input v-model="registParam.password" placeholder="密码" type="password"></el-input>
      </el-form-item>

      <el-form-item size="normal">
        <el-input v-model="registParam.captcha" placeholder="验证码" @focus="onCInputFocus"></el-input>
      </el-form-item>

      <el-form-item v-if="captchaURL">
        <img :src="captchaURL" @click="getCaptcha">
      </el-form-item>

      <el-form-item>
        <el-button @click="regist">注册</el-button>
      </el-form-item>

    </el-form>
    <h3>登陆</h3>
    <el-form>
      <el-form-item size="normal">
        <el-input v-model="loginParam.account" placeholder="账号"></el-input>
      </el-form-item>

      <el-form-item size="normal">
        <el-input v-model="loginParam.password" placeholder="密码" type="password" @keyup.enter.native="login"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button @click="login">登陆</el-button>
      </el-form-item>
    </el-form>
  </div>

  <div v-else>
    <el-form>
      <el-form-item>
        <el-input v-model="friendAccount" placeholder="添加好友账号"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="applyFriend(friendAccount)">请求添加</el-button>
      </el-form-item>
    </el-form>

    <el-upload
            action=""
            ref="upload"
            :auto-upload="false"
            :limit="1">

      <el-button slot="trigger" size="small" type="primary">选择文件</el-button>
      <el-button style="margin-left: 10px;" size="small" type="success" @click="uploadAvatar">上传</el-button>
      <div slot="tip" class="el-upload__tip">jpg/png 文件需小于 500kb</div>
    </el-upload>

    <h3>好友列表</h3>
    <div>
      <el-card  v-for="(friend, index) in friendList" :key="index"
                style="display: flex;justify-content: space-between;">
        <h5>{{ friend.name }}</h5>
        <el-button @click="clickChoose(friend.account)">选择</el-button>
      </el-card>
    </div>

    <h3>申请列表</h3>
    <div>
      <el-card v-for="(apply, index) in applyList" :key="index"
               style="display: flex;justify-content: space-between;">
        <h5>{{ apply.name }}</h5>
        <el-button @click="agreeFriend(apply.account)">通过</el-button>
      </el-card>
    </div>

    <el-form size="normal">

      <el-form-item>
        <el-button @click="logout" style="margin-left: 10px">注销</el-button>
      </el-form-item>

      <el-form-item>
        <el-input v-model="sendmsg.to" placeholder="请输入对方账号"></el-input>
      </el-form-item>

      <el-form-item>
        <el-input v-model="sendmsg.msg" placeholder="你想给对方的信息" type="textarea" @keydown.enter.prevent.native="sendTo"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button @click="sendTo">发送</el-button>
      </el-form-item>

      <el-form-item>
        <el-input v-model="sendmsg.msg" placeholder="你想给对方的信息" type="textarea" @keydown.enter.prevent.native="sendSimple()"></el-input>
      </el-form-item>

    </el-form>

    <div class="bubble-box" ref="bubble-box">
      <div v-for="(item,index) in userMsg" :key="item.id" class="bubble-list">
        <el-avatar :src="personal[item.from].avatar || '#'" class="avatar" :class="item.from == self.account ? 'fr' : 'fl'"
                   icon="el-icon-user-solid" shape="square"></el-avatar>

        <div :class="item.from == self.account ? 'r-bubble' : 'l-bubble'">
          {{ item.msg }}
        </div>
      </div>
      <a href="#flag" id="flag" ref="flag"></a>
    </div>

    <div>
      <el-card v-for="(item, index) in userMsg" :key="index"
               style="display: flex;justify-content: space-between;">
        <h5>{{ item.from }}:{{ item.msg }} -------{{ item.date }}</h5>
        <el-button @click="withdraw(item.id)">撤回</el-button>
      </el-card>
    </div>

  </div>



</div>

</body>
<script>
  // 123.56.246.243
  // localhost
  // const IP = '175.178.229.211:8080'
  const IP = "localhost:8080"
  const IPort = 'http://' + IP
  const wsIP = 'ws://' + IP
  // const IP = '192.168.2.100'
  // const IPort = 'http://' + IP + '/api'
  // const wsIP = 'ws://' + IP
  axios.defaults.baseURL = IPort + '/blog'
  axios.defaults.withCredentials = true
  axios.defaults.timeout = 5 * 1000

  Promise.prototype.finally = function (callback) {
    let P = this.constructor;
    return this.then(
            value  => P.resolve(callback()).then(() => value),
            reason => P.resolve(callback()).then(() => { throw reason })
    )
  }

  axios.do = function (params) {
    if(!params){
      throw new Error('axios.do必须有参数')
    }
    if(!params.url){
      throw new Error('url不能为空')
    }
    if(!params.method){
      throw new Error('method不能为空')
    }

    let headers = {
      ...params.headers
    }
    axios({
      method: params.method,
      url: params.url,
      data: params.data,
      headers
    }).then(result => {
      let {data, status} = result;
      if(data === null){
        Vue.prototype.$message.error('服务器无响应信息！')
        return
      }
      if(status == 200){
        params.success && params.success(data)
      }else{
        Vue.prototype.$message.error(data)
      }
    }).catch(err => {
      if(params.error){
        params.error(err)
      }else{
        console.log(err)
        Vue.prototype.$message.error(err.data)

        // alert("请求超时")
      }
    }).finally(() => {
      params.finally && params.finally()
    })
  }
  axios.chat = function (params){
    axios.defaults.baseURL = IPort + '/chat'
    axios.do(params)
    axios.defaults.baseURL = IPort + '/blog'
  }
  var vm = new Vue({
    el: '#vm',
    data() {
      return {
        captchaURL: '',
        loginParam: {
          account: '3119006925',
          password: '123456',
        },
        registParam: {
          account: '',
          password: '',
          captcha: ''
        },
        self: {},
        sendmsg: {
          to: '',
          msg: '',
          local: 12
        },
        websocket: null,
        logined: false,
        friendList: null,
        applyList: null,
        friendAccount: '',
        historyMsg: {},
        userMsg: [],
        cacheMsg: {},
        personal: {}      }
    },
    created() {
      this.init()
    },
    watch: {
      userMsg() {
        this.$nextTick(() => {
          this.toBubbleBottom()
        })
      }
    },
    methods: {
      init() {
        axios.do({
          url: 'isLogined',
          method: 'get',
          success: (msg) => {
            msg && this.connectChatServer()
          }
        })
      },
      uploadAvatar() {
        let avatar = this.$refs.upload.$children[0].fileList[0].raw
        let formdata = new FormData()
        formdata.append('avatar', avatar)
        axios.do({
          url: 'uploadAvatar',
          method: 'post',
          data: formdata,
          success: (msg) => {
            console.log(msg)
          }
        })
      },
      handleWebsocketMsg(msg){
        let msg_arr = msg.split('|^$|')
        let code = msg_arr[0]
        let content = msg_arr[1]

        if(code == 'one'){
          this.sendmsg.msg = ''
          let pojo = JSON.parse(content)
          this.$message.success(pojo.from + ': ' + pojo.msg)
          this.historyMsg[pojo.from] == null && (this.historyMsg[pojo.from] = [])

          this.historyMsg[pojo.from].push(pojo)
        }else if(code == 'resp'){
          console.log(content);
          let {id, status, local} = JSON.parse(content)
          if(status != 'success') {
            return
          }
          let cache = this.cacheMsg[local]
          cache.id = id
          console.log(this.cacheMsg);
          this.historyMsg[cache.to] == null && (this.historyMsg[cache.to] = [])
          
          this.historyMsg[cache.to].push(cache)
        }else{
          this.$message.success(code)
          console.log(content)
        }
      },
      onCInputFocus() {
        if(this.captchaURL){
          return
        }
        this.getCaptcha()
      },
      getCaptcha() {
        axios.do({
          url: 'getCaptcha',
          method: 'get',
          success: (data) => {
            this.captchaURL = data
          }
        })
      },
      regist() {
        axios.do({
          url: `regist/${this.registParam.captcha}`,
          method: 'post',
          data: this.registParam,
          params: {
            captcha: this.registParam.captcha
          },
          success: () => {
            this.$message.success("注册成功")
          },
          nosuccess: (msg) => {
            this.getCaptcha()
            this.$alert(msg, "提示")
          }
        })
      },
      login() {
        axios.do({
          url: 'login',
          method: 'post',
          data: this.loginParam,
          success: user => {
            this.connectChatServer()
          }
        })
      },
      admin() {
        axios.do({
          url: 'admin',
          method: 'get',
          success: (data) => {
            console.log(data);
          }
        })
      },
      logout() {
        axios.do({
          url: 'logout',
          method: 'get',
          success: () => {
            this.$message.success("注销成功")
            this.websocket && this.websocket.close()
            this.logined = false
          }
        })
      },
      connectChatServer() {
        if(this.websocket){
          this.websocket.close()
        }
        this.websocket = new WebSocket(wsIP + "/chat")
        let websocket = this.websocket
        websocket.sendJSON = function (obj) {
          websocket.send("one|^$|" + JSON.stringify(obj))
        }

        console.log(websocket)
        websocket.onopen = () => {
          console.log("ws连接打开")
          this.getInitMessage()
          this.logined = true
          this.$message.success("登陆成功")
        }
        websocket.onclose = function(error) {
          console.log("ws连接关闭")
          console.log(error)
        }

        websocket.onerror = function() {
          console.log("错误！连接通道关闭")
        }

        websocket.onmessage = (event) => {
          let msg = event.data
          this.handleWebsocketMsg(msg)
        }
      },
      sendTo() {
        let entity = this.sendmsg
        if(!this.websocket){
          this.$message.warning('请先登陆')
          return
        }
        this.websocket.sendJSON(entity)
        this.cacheMsg[entity.local++] = {...entity, from: this.self.account}
        entity.msg = ''
      },
      sendSimple(event) {
        if(!this.websocket){
          this.$message.warning('请先登陆')
          return
        }
        this.websocket.send(this.sendmsg.msg)
        this.sendmsg.msg = ''
      },
      getInitMessage() {
        axios.chat({
          url: 'getInitMessage',
          method: 'get',
          success: (data) => {
            this.self = data.self
            this.friendList = data.friendList
            this.applyList = data.applyList

            let personal = this.personal
            for(let i in data.friendList){
              let v = data.friendList[i]
              personal[v.account] = {
                name: v.name,
                avatar: v.avatar
              }
            }
            personal[data.self.account] = {
              name: data.self.name,
              avatar: data.self.avatar
            }

            console.log(personal);
          }
        })
      },
      applyFriend(otherAccount) {
        axios.chat({
          url: 'applyFriend',
          method: 'post',
          data: {
            otherAccount
          },
          success: () => {
            this.$message.success("发送请求成功")
          }
        })
      },
      agreeFriend(otherAccount) {
        axios.chat({
          url: 'agreeFriend',
          method: 'post',
          data: {
            otherAccount
          },
          success: () => {
            this.$message.success("成功通过")
            this.getInitMessage()
          }
        })
      },
      clickChoose(account) {
        this.sendmsg.to = account
        this.getHistoryMsg(account)
      },
      getHistoryMsg(otherAccount) {
        axios.chat({
          url: 'getHistoryMsg',
          method: 'post',
          data: {
            otherAccount
          },
          success: (data) => {
            data.sort((a,b)=>a.id - b.id)
            this.historyMsg[otherAccount] = data
            this.userMsg = this.historyMsg[otherAccount]
          }
        })
      },
      withdraw(id) {
        let otherAccount = this.sendmsg.to
        axios.chat({
          url: 'withdraw',
          method: 'post',
          data: {
            id
          },
          success: () => {
            this.$message.success("撤回成功")
            this.getHistoryMsg(otherAccount)
          }
        })
      },
      toBubbleBottom() {
        let bbox = this.$refs['bubble-box']
        bbox.scrollTo(0,bbox.scrollHeight)
      }
    }
  })

</script>
</html>